*.in
*.la
*.lo
*.o
*.swp
*~
/Makefile
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m2md-config.h
/missing
/stamp-h1
/test-driver
